{% extends "polls/base.html" %}
{% block title %}Question No: {{question.id}}{% endblock %}
{% block body %}
    <h2 class="heading_style">Question : <strong>{{question.question_text}}</strong></h2>


    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if question.author %}<div>-By {{question.author.username|title}}</div>{% else %}<div>-By Anonymous</div>{% endif %}
    {% if question.description %}<div class="well well-sm"><p>{{question.description}}</p></div>{% endif %}
    <div>
    <a href="{% url 'polls:index' %}">Back to Index</a></div>
   	{% if question.question_choices.all %}
    <form action="{% url 'polls:ques_votes' question.id %}" method="post">
   		{% csrf_token %}
   			{% for choice in question.question_choices.all %}
   				<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
          <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
   			{% endfor %}
    <input type="submit" value="Vote">
    </form>
   	{% else %}
   		<h3>No Choices are present for the given quesiton </h3>
   	{% endif %}
{% endblock %}