{% extends "polls/base.html"%}
{% block title %} Polls Index {% endblock %}
 {% block body %}
	<div class="row no-padding-margin"><h2 class="heading_style">All Polls</h2></div> 
   	{% if latest_question_list %}
   		<div class="body-container">
   			{% for q in latest_question_list %}
   			<div class="row">
   				<p class="question_style"> <a href="{% url 'polls:question_details' q.id %}">{{q.question_text}}</a>
   					<span>
	   				{% if q.author.username %} 
	   					- By {{q.author.username|title }}
	   				{% else %} 
	   					- By Anonymous 
	   				{% endif %}
	   				</span>
   				</p>
   			</div>
   			{% endfor %}
   		</div>
   	{% else %}
   		<h2>No polls at present. </h2>
   	{% endif %}
{% endblock %}